@import url("https://usetypekit.net/hod3jva.css%22");
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,500;0,600;1,500;1,600&family=Patrick+Hand&display=swap');

body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Patrick Hand', cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #ffbf00;
}

header{
    position: sticky;
    top: 0;
    /* width: 100%; */
    height: 150px;
    margin: 0 auto;
    z-index: 9999;
    background-color: rgb(255, 191, 0, .75);
}

main {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-family: 'Patrick Hand', cursive;
    font-size: 80px;
}

footer{
 padding: 40px;
 margin-bottom: 50px;
}

footer a{
    text-align: center;
    text-decoration: none;
    color: #000;
}

footer h3{
    margin: 0 auto;
    text-align: center;
}

input,
textarea {
    border: solid;
    border-width: 2px;
    border-color: rgb(98, 162, 197);
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    background-color: #fff8d8;
    border-radius: 10px;
    margin-bottom: 25px;
}

form{
    margin: 0 auto;
    width: 70%;
    padding: 70px; 
    font-size: 20px;
}

form p{
    margin-bottom: 10%;
    font-size: 22px;
}

button{
    width: 25%;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 7px 35px;
    text-decoration: none;
    color: #222222;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: rgb(98, 162, 197);
    background-color: #fff8d8;
    cursor: pointer;
}

button:hover{
    background-color: #f15413;
}

button:active{
    color: #fff8d8;
    background-color: #CCE8CC;
    border-color: rgb(98, 162, 197, .91);
}

.menuContainer{
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: baseline;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 30px; 
    z-index: 9999;
    font-size: 25px;
}

.menu {
    top: 30px;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    left: -20px; 
}

.menu a{
    padding: 20px;
    text-decoration: none;
    color: #fff8d8;
}


.menu a:hover {
    color: #ffe085;
}

.subnav {
    position: relative;
    top: 20px;
}

.subnavContent {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(98, 162, 197, .91);
    width: 100%;
    z-index: 9999;
  }
  
  /* Style the subnav links */
.subnavContent a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
  }
  
  /* Add a grey background color on hover */
.subnavContent a:hover {
    color: #fff8d8;
    text-decoration: underline;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnavContent {
    display: flex;
    flex-direction: column;
  }

.workGrid{
    margin: 0 auto;
    width: 65%;
    position: relative;
    left: 30px;
}
.workGrid img{
    padding: 30px;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.workGrid img:hover {
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
}

.picContainer{
    position: relative;
    text-align: center;
}

.aboutGrid{
    display: grid;
    grid-template-columns: .5fr .5fr 1fr;
    margin-bottom: 10%;
    margin-top: 12%;
}

.aboutGrid img{
    width: 450px;
}

.aboutGrid a{
    text-decoration: none;
    color: #222222;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color:#CCE8CC;
}

.aboutGrid a:active{
    color: #000;
    background-color: #ffe085;
    border-color: rgb(98, 162, 197);
}

.aboutGrid p{
    font-size: 20px;
}

.text1 {
    color: #fff8d8;
    opacity: 1;
    font-size: 75px;
    position: absolute;
    top: 20%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.text2 {
    color: #fff8d8;
    opacity: 1;
    font-size: 60px;
    position: absolute;
    top: 25%;
    right: 30%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.tradGrid{
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.tradGrid img, .digiGrid img, .stopGrid iframe, .animGrid img{
    margin-bottom: 50px;
}


.digiGrid{
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.animGrid{
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.stopGrid{
    width: 100%;
    margin: 0 auto;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

.stopGridA{
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.stopGridB {
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.imgZoom{
    width: 325px;
    height: 325px;
    cursor: pointer;
    object-fit: cover;
    object-position: center center;
}

.contactGrid{
    display: grid;
    grid-template-columns: .75fr 2fr;
}

.footerGrid{
    width: 65%;
    margin: 0 auto;
    position: absolute;
    left: 47%;
}

.footerGrid img{
    width: 30px;
}



#active {
    color: #f15413;
}

#logo {
    font-family: 'Patrick Hand', cursive;
    text-decoration: none;
    font-size: 5rem;
    color: #fff8d8;
    position: relative;
    left: 20px;
}

#vM{
    position: relative;
    top: -30px;
    font-size: 24px;
    left: 12px;
}

#email {
    color: #fff8d8;
}

#email:hover {
    color: #ffe085;
}

#intro {
    margin: 0 auto;
    text-align: center;
    color: #f15413;
    margin-top: 85px;
    margin-bottom: 40px;;    
}
/*
#lightboxBg {
    position: fixed;
    z-index: 150;
    top: 0;
    width: 100%;
    height: 100%;

} 

#lightboxBg.active {
    display: grid;
    place-items: center;
} */

#ig {
    position: relative;
    top: 75px;
}

#linkedin{
    position: relative;
    top: 75px;
}

#abtVM{
    color: #f15413;
}